@font-face {
	font-family: "PerfectDos437";
	src: url('assets/PerfectDOSVGA437.ttf');
}

@keyframes planet {
	from {
		left: 0pt;
	}

	to {
		left: -670pt;
	}
}

.tab {
	overflow: hidden;
	background-color: #180822;
	border: solid 0.6mm;
	color: #E72028;
	position: sticky;
	top: 0;
	margin: 4px 4px 8px 4px;
}

.tab button {
	font-size: large;
	font-family: 'PerfectDos437';
	background-color: #180822;
	color: #E72028;
	float: left;
	border: solid 0.6mm;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	margin: 1.5mm;
	padding: 14px 16px;
}

.tab button:hover {
	background-color: #E72028;
	color: black;
	border-color: #E72028;
}

.tab button.active {
	background-color: #510000;
	color: #F77979;
	border-color: #E72028;
}

.tabcontent {
	margin: 4px;
}

.site-entry {
	background-color: #340000;
	color: #E72028;
	border: solid 0.6mm;
	border-radius: 0px;
	padding: 16px;
	margin-bottom: 8px;
}

.site-entry-top {
	background-color: #510000;
	color: #F77979;
	border: solid 0.6mm;
	border-color: #E72028;
	border-radius: 0px;
	padding: 16px;
	margin-bottom: 8px;
}

button {
	font-size: large;
	font-family: 'PerfectDos437';
	background-color: #180822;
	color: #E72028;
	float: left;
	border: solid 0.6mm;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	margin: 1.5mm;
	padding: 14px 16px;
}

button:hover {
	background-color: #E72028;
	color: black;
	border-color: #E72028;
}

button.active {
	background-color: #510000;
	color: #F77979;
	border-color: #E72028;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h2.in-blog {
	margin-top: 32px;
}

h3 {
	margin: 0;
}

h4 {
	margin: 0;
}

p {
	margin-bottom: 0px;
}

p.subtitle {
	margin-top: 0px;
	margin-bottom: 0px;
	font-style: italic;
}

a {
	color: #F77979;
}

pre {
	background-color: #180822;
	padding: 4px;
	color: #E72028;
	border: solid 0.6mm;
	border-radius: 0px;
}

code {
	font-family: "PerfectDos437";
}

.star {
	width: 4pt;
	height: 4pt;
	background: white;
	z-index: -3;
	position: absolute;
}

.shooting-star {
	position: fixed;
	z-index: -2;
	image-rendering: pixelated;
}